.content-section {
    border-top: 1em solid #171d1d;
    margin: 0 auto;
    padding: 1.6em;
    padding: 1rem;

    @media only screen and (min-width: 768px) {
        padding: 4rem 1rem 8rem;
    }
}
