@import 'mixins/min-max-font-size';

body {
    font-family: 'Roboto Slab', slab-serif;
    font-weight: 400;
}

h1 {
    font-family: Slabo, sans-serif;
    font-size: 2.4em;
    font-weight: 900;
    text-align: center;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-size: 2.6em;
    font-weight: 700;
}

a {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

label {
    font-family: 'Roboto Slab', slab-serif;
    font-weight: 700;
}

input,
textarea {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
}

textarea {
    font-size: .65em;
}

button {
    font-family: 'Roboto Slab', slab-serif;
    font-weight: 400;
}

.aside-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
}





.about-blurb {
    // font-size: 2.2rem;
    text-align: left;

    p {
        // $base-p: 1rem + 3vh;
        $base-p: 3vh;
        // font-size: 2.2rem;
        // font-size: 9vh;
        font-size: $base-p;

        @include responsive-font(5vw, 24px);

        @media only screen and (max-width: 460px) {
            // border: 1px solid red;
        }

        @media only screen and (max-height: 460px) {
            // display: inline;
            // margin-right: 0;
            // font-size: calc(calc(1rem + 6vw) * 0.8);
        }
    }
}

.portfolio-section {

}

.portfolio-article {
    p {
        font-size: 1.2rem;
    }
}
