// original color scheme
$light:    #fff;
$dark:    #101;
$sharp-blue:     #5863f8;
$dark-purple:   #33253f;
$bright-seafoam-green:    #1ed9af;
$warm-yellow:   #ecc02f;


// new color scheme
$muted-red: #db504a;
$dark-blue: #222e50;
$bright-blue-green: #5dd9c1;
$less-warm-yellow: #e8c232;
$green-grey: #4f6d7a;


// Site colors
$site-white:    $light;
$site-black:    $dark;
$site-red:     $muted-red;
$site-blue: $sharp-blue;
$site-purple:   $dark-blue;
$site-green:    $bright-blue-green;
$site-yellow:   $less-warm-yellow;

// points
$site-accent: $site-red;
$site-green--alternate: #43aa8b;

// Light colors
$site-red--lighten5: lighten($site-red, 5%);
$site-red--lighten10: lighten($site-red, 10%);
$site-red--lighten15: lighten($site-red, 15%);
$site-red--lighten20: lighten($site-red, 20%);
$site-red--lighten30: lighten($site-red, 30%);
$site-red--lighten40: lighten($site-red, 40%);

$dark-blue--lighten5: lighten($dark-blue, 5%);
$dark-blue--lighten10: lighten($dark-blue, 10%);
$dark-blue--lighten15: lighten($dark-blue, 15%);
$dark-blue--lighten20: lighten($dark-blue, 20%);
$dark-blue--lighten30: lighten($dark-blue, 30%);
$dark-blue--lighten40: lighten($dark-blue, 40%);
$dark-blue--lighten60: lighten($dark-blue, 60%);

$site-green--lighten5: lighten($site-green, 5%);
$site-green--lighten10: lighten($site-green, 10%);
$site-green--lighten15: lighten($site-green, 15%);
$site-green--lighten20: lighten($site-green, 20%);
$site-green--lighten30: lighten($site-green, 30%);
$site-green--lighten40: lighten($site-green, 40%);

// Transparent colors
$site-black--translucent20: transparentize($site-black, 0.2);
$site-black--translucent40: transparentize($site-black, 0.4);
$site-black--translucent60: transparentize($site-black, 0.6);
$site-black--translucent80: transparentize($site-black, 0.8);
$site-black--translucent90: transparentize($site-black, 0.9);

$site-blue--translucent20: transparentize($site-blue, 0.2);
$site-blue--translucent40: transparentize($site-blue, 0.4);
$site-blue--translucent60: transparentize($site-blue, 0.6);
$site-blue--translucent80: transparentize($site-blue, 0.8);

$site-green--translucent20: transparentize($site-green, 0.2);
$site-green--translucent40: transparentize($site-green, 0.4);
$site-green--translucent60: transparentize($site-green, 0.6);
$site-green--translucent80: transparentize($site-green, 0.8);

$site-yellow--translucent20: transparentize($site-yellow, 0.2);
$site-yellow--translucent40: transparentize($site-yellow, 0.4);
$site-yellow--translucent60: transparentize($site-yellow, 0.6);
$site-yellow--translucent80: transparentize($site-yellow, 0.8);
