/*
Error: Undefined variable: "$site-white".
        on line 2 of scss/_base.scss
        from line 4 of ./scss/main.scss

1: @import 'reset';
2: @import 'fonts';
3: @import 'variables';
4: @import 'base';
5: @import 'typography';

Backtrace:
scss/_base.scss:2
./scss/main.scss:4
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/script/tree/node.rb:50:in `perform'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `map'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:88:in `block in with_import'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:88:in `with_import'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/plugin.rb:109:in `method_missing'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
/Users/donniereese/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.5.5/bin/sass:13:in `<top (required)>'
/Users/donniereese/.rbenv/versions/2.4.0/bin/sass:22:in `load'
/Users/donniereese/.rbenv/versions/2.4.0/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$site-white\".\A         on line 2 of scss/_base.scss\A         from line 4 of ./scss/main.scss\A \A 1: @import 'reset';\A 2: @import 'fonts';\A 3: @import 'variables';\A 4: @import 'base';\A 5: @import 'typography';"; }
