.termWindow {
    color:#fff;
    width: calc(100% - 2em);
    max-width: 40em;
    height: 36em;
    background: #000;
    margin: 1em;
    padding: 1em;
    border: .25em solid #fff;
    border-radius: 1em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    box-shadow: .25em .5em 3em 0px #000;
    overflow: hidden;
    z-index: 100;
}

.termWindow--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin : 0;
    border-radius: 0;
    border: none;
}

.scrollView {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.termWindow, .termWindow ul li, .termWindow input {
    font-family: 'Source Code Pro' !important;
}

div.termWindow input, .termWindow button {
    margin: 0;
    padding: 0;
    border: none;
    background: #000;
    color: #fff;
    height: 2em;
    /* border-top: 1px solid #333; */
    cursor: text;
    font-family: auto;
}

.termWindow ul {
    /* height: 100%; */
    /* max-height: calc(100% - 2em); */
    list-style: none;
    cursor: text;
}

.termButton {
    border: .25em solid #000;
    border-radius: .5em;
    background-color: #000;
    color: #fff;
    width: 4em;
    height: 4em;
    padding: .25em;
    display: block;
    border:1px solid #fff;
    cursor: pointer;

    position: absolute;
    top: .25em;
    /* bottom: .25em; */
    right: .25em;

    z-index: 1000;

}

.termButton--sticky {
    position: fixed;
    top: auto;
    bottom: 1em;
    right: 1em;

    transition: border .06s, bottom .06s, right .06s;
}

.termButton--sticky:hover {
    border: .6rem solid #5dd9c1;
    bottom: .7rem;
    height: 4.3rem;
    right: .7rem;
    width: 4.3rem;
}

.termButton-activated {
    width: 18em;
    height: 12em;
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.termButton--sticky {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1s .4s, bop 1s ease-in 0s 1 forwards;
    /* When the animation is finished, start again */
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(2px, 2px) rotate(0deg); box-shadow: 0 0 .45rem 0 rgba(0,0,0,.4); border: .5rem solid #5dd9c1; }
    10% { transform: translate(-2px, -4px) rotate(-2deg); box-shadow: 4px 6px .45rem 0 rgba(0,0,0,.4); border: .5rem solid #5dd9c1; }
    20% { transform: translate(-6px, 0px) rotate(2deg); box-shadow: 8px 2px .45rem 0 rgba(0,0,0,.4); border: .1rem solid #5dd9c1; }
    30% { transform: translate(6px, 4px) rotate(0deg); box-shadow: -4px 2px .45rem 0 rgba(0,0,0,.4); border: .1rem solid #5dd9c1; }
    40% { transform: translate(2px, -2px) rotate(2deg); box-shadow: 0 4px .45rem 0 rgba(0,0,0,.4); border: .5rem solid #5dd9c1; }
    50% { transform: translate(-2px, 4px) rotate(-2deg); box-shadow: 4px -2px .45rem 0 rgba(0,0,0,.4); border: .5rem solid #5dd9c1; }
    60% { transform: translate(-6px, 2px) rotate(0deg); box-shadow: 8px 0 .45rem 0 rgba(0,0,0,.4); border: .1rem solid #5dd9c1; }
    70% { transform: translate(6px, 2px) rotate(-2deg); box-shadow: -4px 0 .45rem 0 rgba(0,0,0,.4); border: .1rem solid #5dd9c1; }
    80% { transform: translate(-2px, -2px) rotate(2deg); box-shadow: 4px 4px .45rem 0 rgba(0,0,0,.4); border: .5rem solid #5dd9c1; }
    90% { transform: translate(2px, 4px) rotate(0deg); box-shadow: 0 -2px .45rem 0 rgba(0,0,0,.4); border: .5rem solid #5dd9c1; }
    100% { transform: translate(2px, -4px) rotate(-2deg); box-shadow: none; border: 0; }
}

@keyframes bop {
    0% { bottom: 99%; }
    /* 10% { bottom: 75%; }
    20% { bottom: 25%; } */
    /* 30% { bottom: 1rem; height: 2rem } */
    40% { bottom: 1rem; }
    50% { bottom: 1.3rem; }
    60% { bottom: 1rem; }
    70% { bottom: 1.2rem }
    80% { bottom: 1rem; }
    90% { bottom: 1.1rem; }
    100% { bottom: 1rem }
}
