.button {
  background-color: #fff;
  border: 1px solid #dededf;
  border-radius: .25rem;
  color: #101;
  display: inline-block;
  margin: .25rem .5rem;
  outline: 0;
  padding: .25rem 1rem;
  text-align: center; }
  .button::hover {
    cursor: pointer;
    text-decoration: none; }

.button--highlight {
  box-shadow: inset 0 -0.25rem 0 0 rgba(17, 0, 17, 0.2); }

.button--highlight-on-hover::hover {
  box-shadow: inset 0 -0.25rem 0 0 rgba(17, 0, 17, 0.2); }

.button--center {
  margin: 0 auto; }

.btn--thm-white {
  background-color: #fff;
  color: #101; }
  .btn--thm-white:visited {
    color: #101; }

.btn--thm-black {
  background-color: #101;
  color: #fff; }
  .btn--thm-black:visited {
    color: #fff; }

.btn--thm-blue {
  background-color: #5863f8;
  color: #fff; }
  .btn--thm-blue:visited {
    color: #fff; }

.btn--thm-purple {
  background-color: #222e50;
  color: #fff; }
  .btn--thm-purple:visited {
    color: #fff; }

.btn--thm-green {
  background-color: #5dd9c1;
  color: #fff; }
  .btn--thm-green:visited {
    color: #fff; }

.btn--thm-yellow {
  background-color: #e8c232;
  color: #fff; }
  .btn--thm-yellow:visited {
    color: #fff; }

.btn--bg-white {
  background-color: #fff; }

.btn--bg-black {
  background-color: #101; }

.btn--bg-blue {
  background-color: #5863f8; }

.btn--bg-purple {
  background-color: #222e50; }

.btn--bg-green {
  background-color: #5dd9c1; }

.btn--bg-yellow {
  background-color: #e8c232; }

.btn--fg-white {
  color: #fff; }

.btn--fg-black {
  color: #101; }

.btn--fg-blue {
  color: #5863f8; }

.btn--fg-purple {
  color: #222e50; }

.btn--fg-green {
  color: #5dd9c1; }

.btn--fg-yellow {
  color: #e8c232; }

.btn--border-yellow {
  border: 0.5rem solid #e8c232 !important; }

.btn--border-blue {
  border: 0.5rem solid #5863f8 !important; }

.btn--border-accent {
  border: 0.5rem solid #db504a; }

.btn--shadow-black {
  box-shadow: 0.2rem 0.4rem 1rem 0.4rem rgba(17, 0, 17, 0.2); }

.btn--shadow-black-half-dist {
  box-shadow: 0.1rem 0.2rem 0.6rem 0.2rem rgba(17, 0, 17, 0.2); }

.btn--hollow-white {
  background-color: transparent;
  border: 0.25rem solid #fff;
  color: #fff; }
  .btn--hollow-white:visited {
    color: #fff; }

.btn--hollow-black {
  background-color: transparent;
  border: 0.25rem solid #101;
  color: #101; }
  .btn--hollow-black:visited {
    color: #101; }

.btn--hollow-blue {
  background-color: transparent;
  border: 0.25rem solid #5863f8;
  color: #5863f8; }
  .btn--hollow-blue:visited {
    color: #5863f8; }

.btn--hollow-purple {
  background-color: transparent;
  border: 0.25rem solid #222e50;
  color: #222e50; }
  .btn--hollow-purple:visited {
    color: #222e50; }

.btn--hollow-green {
  background-color: transparent;
  border: 0.25rem solid #5dd9c1;
  color: #5dd9c1; }
  .btn--hollow-green:visited {
    color: #5dd9c1; }

.btn--hollow-yellow {
  background-color: transparent;
  border: 0.25rem solid #e8c232;
  color: #e8c232; }
  .btn--hollow-yellow:visited {
    color: #e8c232; }

.btn--hollow-white,
.btn--hollow-black,
.btn--hollow-blue,
.btn--hollow-purple,
.btn--hollow-green,
.btn--hollow-yellow {
  text-shadow: 0 0.125rem 0.25rem rgba(17, 0, 17, 0.2); }

.hero-section {
  height: 90vh;
  min-height: 26rem;
  max-height: 32rem;
  padding: 4rem 2rem 2rem;
  position: relative; }

.portfolio-article {
  background-color: #fff;
  border-radius: .5rem;
  display: block;
  margin: 1rem 0;
  max-width: 512px;
  overflow: hidden;
  position: relative;
  transition: margin-left 1s, margin-right 1s, font-size 1s; }
  .portfolio-article .portfolio-item-header {
    background-color: #222e50;
    border-radius: .25rem;
    color: #fff;
    display: inline-block;
    font-size: 1.8rem;
    height: 3.6rem;
    left: 0;
    margin: .5rem;
    padding: .5rem;
    position: absolute;
    top: 0;
    z-index: 1; }
  .portfolio-article .portfolio-item-blurb {
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    margin-top: -4rem;
    padding: .5rem;
    position: relative;
    width: 90%; }
  .portfolio-article .portfolio-item-links {
    margin: 0 auto;
    padding: 1rem .5rem;
    text-align: right; }
  .portfolio-article figure {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -.5rem; }
    .portfolio-article figure figcaption {
      display: block;
      flex-grow: 2;
      padding: .5rem;
      width: 100%; }
    .portfolio-article figure img {
      flex-basis: 50%;
      width: 50%;
      height: auto; }
      .portfolio-article figure img:hover {
        border: 0.25rem solid #5dd9c1 !important;
        outline: 0; }
  .portfolio-article .button {
    margin-left: 0; }
  @media only screen and (max-width: 519) {
    .portfolio-article:first-of-type {
      margin-top: 0; }
    .portfolio-article:last-of-type {
      margin-bottom: 0; } }
  @media only screen and (min-width: 460px) {
    .portfolio-article {
      font-size: 1.4rem; } }
  @media only screen and (min-width: 700px) {
    .portfolio-article {
      font-size: 1.6rem; } }
  @media only screen and (min-width: 900px) {
    .portfolio-article {
      flex-basis: 48%;
      font-size: 1.4rem; }
      .portfolio-article p {
        line-height: 1.6rem; } }

.portfolio-section {
  align-items: space-around;
  background-color: #e9e9ed;
  background-color: #5863f8;
  background-image: url("../../images/funky-lines-green.png");
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .portfolio-section h2 {
    margin-left: .5rem;
    transition: margin-left 1s, margin-right 1s; }
  @media only screen and (min-width: 520px) {
    .portfolio-section {
      flex-direction: row;
      flex-wrap: wrap; } }
  @media only screen and (min-width: 900px) {
    .portfolio-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .portfolio-section h2 {
        flex-basis: 100%; } }

.message {
  animation: fadein 2s;
  background-color: #c0c9e4;
  border: 0.25rem solid #222e50;
  border-radius: .25rem;
  color: #33253f;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: .5rem 0; }

.message-accent {
  background-color: #405798;
  display: inline-block;
  margin-right: 1rem;
  padding: 1rem;
  width: 3rem;
  height: 3rem; }
  .message-accent i {
    color: #fff;
    display: inline; }

.success-message {
  background-color: #d9f6f0;
  border: 0.25rem solid #72dec9;
  color: #33253f; }
  .success-message .message-accent {
    background-color: #384147; }
    .success-message .message-accent i {
      color: #5dd9c1; }

@keyframes fadein {
  from {
    opacity: 0;
    margin: 0rem 0 1rem; }
  to {
    opacity: 1;
    margin: .5rem 0 .5rem; } }
.error-message {
  background-color: #fdf5f4;
  border: 0.25rem solid #eca29f;
  color: #33253f; }

.error-accent {
  background-color: #33253f; }
  .error-accent i {
    color: #ecc02f;
    display: inline; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
a.brand-header-logo {
  display: block;
  position: relative;
  height: 100%; }
  a.brand-header-logo > img {
    border-radius: 1rem;
    box-shadow: 0.2rem 0.4rem 1rem 0.4rem rgba(17, 0, 17, 0.2);
    width: auto;
    height: 100%; }

.hero-content {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  height: 94%;
  justify-content: space-between;
  margin: 2rem auto;
  max-height: 60vh;
  max-width: 1100px;
  position: relative;
  text-align: center;
  width: 100%; }
  @media only screen and (max-width: 620px) {
    .hero-content {
      flex-direction: column; } }
  .hero-content .hero-logo {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 1000px;
    height: 100%; }
    @media only screen and (max-width: 620px) {
      .hero-content .hero-logo {
        display: none; } }
  .hero-content .brand-header-logo {
    display: block;
    max-height: 100%;
    position: relative; }
  .hero-content .about-blurb {
    align-self: flex-start;
    display: block;
    flex-shrink: 1;
    padding-top: .75em; }
    .hero-content .about-blurb .button {
      display: block;
      font-size: 1.6rem;
      max-width: 24rem;
      min-width: 18rem;
      width: 60%; }
      @media only screen and (max-width: 620px) {
        .hero-content .about-blurb .button {
          margin: 2rem auto; } }
      @media only screen and (min-width: 621px) {
        .hero-content .about-blurb .button {
          margin: 2rem 1.6rem; } }
    .hero-content .about-blurb p {
      color: #fff;
      display: block;
      margin: .25rem 1rem;
      max-width: 48rem;
      padding: .125rem .5rem;
      text-align: left; }
      .hero-content .about-blurb p strong {
        color: #5dd9c1;
        display: block; }
        @media only screen and (max-width: 620px) {
          .hero-content .about-blurb p strong {
            font-size: 120%;
            margin-bottom: 1rem; } }
      .hero-content .about-blurb p:first-of-type {
        background-color: none;
        margin-top: 1rem; }
      .hero-content .about-blurb p:last-of-type {
        margin-bottom: 1rem; }
      @media only screen and (max-height: 361px) {
        .hero-content .about-blurb p {
          margin: 0;
          float: none;
          margin-left: -.245rem;
          padding: .125rem 0; }
          .hero-content .about-blurb p:first-of-type {
            margin-left: 1rem;
            padding-left: .5rem; }
          .hero-content .about-blurb p:last-of-type {
            margin-right: 1rem;
            padding-right: .5rem; } }
      @media only screen and (min-width: 460px) {
        .hero-content .about-blurb p {
          font-size: 1.4rem; } }
      @media only screen and (min-width: 580px) {
        .hero-content .about-blurb p {
          font-size: 1.6rem; } }
      @media only screen and (min-width: 620px) {
        .hero-content .about-blurb p {
          font-size: 2.0rem; } }
      @media only screen and (min-width: 920px) {
        .hero-content .about-blurb p {
          font-size: 2.4rem; } }
      @media only screen and (min-width: 1024px) {
        .hero-content .about-blurb p {
          font-size: 2.8rem; } }

.hero-section {
  background-color: #1B1E20;
  background-color: #223a50;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%235dd9c1' fill-opacity='0.19' fill-rule='evenodd'/%3E%3C/svg%3E"); }

.standout-nav {
  border: .45em solid #000;
  background-color: #e9e9ed; }

.contact-section {
  background-color: #fff; }

.fine-print {
  color: #335;
  border-bottom: .25em solid #000; }

.talkout {
  background: url("laboratory.donniereese.com/images/talkout.png") center center no-repeat;
  background-size: 100%; }

.about-blurb {
  background: url("../images/blurb-accent.png") top left no-repeat;
  background-size: 2em; }

h1 {
  font-family: Slabo, sans-serif;
  font-size: 2.4em;
  font-weight: 900;
  text-align: center; }

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 2.6em;
  font-weight: 700; }

a {
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

label {
  font-family: 'Roboto Slab', slab-serif;
  font-weight: 700; }

input,
textarea {
  font-family: Montserrat, sans-serif;
  font-size: 1em; }

textarea {
  font-size: .65em; }

button {
  font-family: 'Roboto Slab', slab-serif;
  font-weight: 400; }

.aside-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  font-weight: 700; }

.standout-nav a {
  font-size: 1.45em;
  padding: .45em .65em; }

.fine-print {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.talkout {
  font-size: 2rem;
  text-align: left; }

.contact-form {
  margin-top: 1.4em; }
  .contact-form label {
    font-size: 2em; }
  .contact-form button {
    font-size: 1.6em; }

.about-section {
  display: block;
  margin: 0 auto;
  padding: 4rem 1rem 8rem;
  text-align: center;
  width: 100%; }
  .about-section section {
    margin: 0 auto;
    text-align: left; }
  .about-section h2 {
    font-size: 2.4em;
    font-size: 12vmin; }
    @media only screen and (max-height: 420px) {
      .about-section h2 {
        font-size: 2.4em; } }
    @media only screen and (min-height: 700px) {
      .about-section h2 {
        font-size: 3.6em; } }
  .about-section p {
    font-size: 1.2em;
    font-size: 3.5vw; }
    @media only screen and (max-width: 420px) {
      .about-section p {
        font-size: 1.2em; } }
    @media only screen and (min-width: 700px) {
      .about-section p {
        font-size: 2em; } }

.fine-print {
  display: inline-block;
  margin: 0 1em .9em;
  padding: 2em .4em .5em; }

.talkout {
  height: 16.23125em;
  overflow: hidden;
  padding: 4.8em 3.4em 2em 2.8em;
  width: 20.25em; }

@media only screen and (min-width: 768px) {
  h2 {
    margin-bottom: 1.2em; }

  .hero-content .about-blurb,
  .about-section .subsection,
  .contact-section .contact-form {
    width: 75%; }

  .contact-section .contact-form {
    margin: 0 auto;
    padding: 4rem 1rem 8rem; } }

/*# sourceMappingURL=home.css.map */
