.hero-section {
    height: 90vh;
    min-height: 26rem;
    max-height: 32rem;
    padding: 4rem 2rem 2rem;
    position: relative;

    .hero-header {
        color: $site-green;
        font-family: 'Roboto Slab', slab-serif;
        font-weight: 700;
        font-size: 1.8rem;
    }
}
